@{
    ViewData["Title"] = "認識 UCAN";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/affix.css" asp-append-version="true" />
}

<section class="section">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Introduce" asp-action="About">認識 UCAN</a></li>
                <li class="is-active"><a asp-area="" asp-controller="Introduce" asp-action="Competency" aria-current="page">職能介紹</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">職能概念</h1>
            <hr />
            <h2 class="title is-4">職能定義</h2>
            <p>「職能」主要用來描述在執行某項工作時所需具備的關鍵能力，目的為找出並確認哪些是導致工作上卓越績效所需的能力及行為表現，以協助組織或個人瞭解如何提升其工作績效。</p>
            <p>依據Spencer & Spencer(1993)提出冰山模型(iceberg model)，認為職能是一連串能力的綜合，像一個巨大的冰山，包含水面下與水面上兩個部分：水面下為個人潛在基本特質，例如動機、特質、自我概念屬於較不易為人發現；而在水面上則為知識與技能，容易被人發現同時也是可以透過訓練與發展方式去獲得這些知識與技巧。</p>
            <figure class="image">
                <img src="~/images/competency-1.png" alt="" class="image-modal" data-target="#competency-1">
            </figure>
            <div id="competency-1" class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <p class="image">
                        <img src="~/images/competency-1.png" alt="">
                    </p>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
            <h2 class="title is-4">職能效用</h2>
            <p>職能是接軌學校教育與產業、社會及實務需求的橋梁，可以讓人才供給端(學校/培訓機構)，及需求端(產業/企業)，對人才能力規格有相近標準，縮短產學落差。</p>
            <figure class="image">
                <img src="~/images/competency-2.png" alt="" class="image-modal" data-target="#competency-2">
                <figcaption>圖：職能融入教學，對學生、教師、校方及產業界的好處</figcaption>
            </figure>
            <div id="competency-2" class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <p class="image">
                        <img src="~/images/competency-2.png" alt="">
                    </p>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
        </div>
    </div>
    <a href="https://ucan.moe.edu.tw/introduce/introduce_1.aspx" target="_blank" id="view-source" class="button is-success is-rounded">查看原文</a>
 </section>

@section Scripts {
    <script src="~/js/image-modal.js" asp-append-version="true"></script>
}   