@{
    ViewData["Title"] = "管理";
}

<section class="section is-medium">
    <div class="container is-max-desktop">
        @if (User.IsInRole("Member"))
        {
            <article class="message is-info">
                <div class="message-body">若要管理 NID 與 UCAN 連結之帳號，請點擊<strong>成員</strong></div>
            </article>
        }
        <div class="box content">
            <h1 class="title is-3">@ViewData["Title"]</h1>
            <hr/>
            <div class="columns is-multiline is-centered">
                @if (User.IsInRole("Recorder"))
                {
                    <div class="column is-4">
                        <figure class="image">
                            <i class="fas fa-server fa-7x"></i>
                        </figure>
                        <a asp-area="" asp-controller="Manage" asp-action="Logs" class="button is-link is-inverted is-fullwidth is-underlined">日誌</a>
                    </div>
                }
                @if (User.IsInRole("User"))
                {
                    <div class="column is-4">
                        <figure class="image">
                            <i class="fas fa-users-cog fa-7x"></i>
                        </figure>
                        <a asp-area="" asp-controller="User" asp-action="Index" class="button is-link is-inverted is-fullwidth is-underlined">使用者</a>
                    </div>
                }
                @if (User.IsInRole("Member"))
                {
                    <div class="column is-4">
                        <figure class="image">
                            <i class="far fa-address-card fa-7x"></i>
                        </figure>
                        <a asp-area="" asp-controller="Member" asp-action="Index" class="button is-link is-inverted is-fullwidth is-underlined">成員</a>
                    </div>
                }
                @if (User.IsInRole("UCAN"))
                {
                    <div class="column is-4">
                        <figure class="image">
                            <i class="fas fa-cogs fa-7x"></i>
                        </figure>
                        <a asp-area="" asp-controller="Manage" asp-action="UCANLogin" class="button is-link is-inverted is-fullwidth is-underlined">UCAN 登入</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>