@model UCANLoginViewModel
@{
    ViewData["Title"] = "UCAN 登入";
}

<section class="section is-medium">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
                <li class="is-active"><a asp-area="" asp-controller="Manage" asp-action="UCANLogin" aria-current="page">@ViewData["Title"]</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">@ViewData["Title"]</h1>
            <hr />
            @if (!ViewData.ModelState.IsValid)
            {
                @foreach (var modelError in ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        @modelError.ErrorMessage
                    </div>
                }
            }
            <form asp-area="" asp-controller="Manage" asp-action="UCANLogin" method="post" role="form">
                <div class="field mb-5">
                    <label asp-for="UserName" class="label">UCAN 帳號</label>
                    <div class="control has-icons-left">
                        <input asp-for="UserName" class="input" type="text" placeholder="請輸入 UCAN 帳號"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <span asp-validation-for="UserName" class="help is-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">登入</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}