@model UserInviteViewModel
@{
    ViewData["Title"] = "邀請使用者";
}

<section class="section is-medium">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Manage" asp-action="Index">管理</a></li>
                <li><a asp-area="" asp-controller="Manage" asp-action="Users">使用者</a></li>
                <li class="is-active"><a asp-area="" asp-controller="Manage" asp-action="UserInvite" aria-current="page">@ViewData["Title"]</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">@ViewData["Title"]</h1>
            <hr/>
            <form asp-area="" asp-controller="Manage" asp-action="UserInvite" method="post" role="form">
                <div class="field mb-5">
                    <label asp-for="Email" class="label">電子郵件</label>
                    <div class="control has-icons-left">
                        <input asp-for="Email" class="input" type="email" placeholder="請輸入電子郵件"/>
                        <span class="icon is-small is-left">
                            <i class="far fa-envelope"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Email" class="help is-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">邀請</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>