[submodule "fcu-ucan/wwwroot/lib/bulma-social"]
	path = fcu-ucan/wwwroot/lib/bulma-social
	url = https://github.com/aldi/bulma-social.git
[submodule "fcu-ucan/wwwroot/lib/aos"]
	path = fcu-ucan/wwwroot/lib/aos
	url = https://github.com/michalsnik/aos.git
	branch = master
[submodule "fcu-ucan/wwwroot/lib/bulma-carousel"]
	path = fcu-ucan/wwwroot/lib/bulma-carousel
	url = https://github.com/Wikiki/bulma-carousel.git
[submodule "fcu-ucan/wwwroot/lib/fontawesome"]
	path = fcu-ucan/wwwroot/lib/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
