@{
    ViewData["Title"] = "隱私權";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/affix.css" asp-append-version="true" />
}

<section class="section">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Privacy" asp-action="Privacy">隱私權</a></li>
                <li class="is-active"><a asp-area="" asp-controller="Privacy" asp-action="Terms" aria-current="page">使用者條款</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">
                使用者條款
                <span class="tag is-primary is-light is-pulled-right">UCAN</span>
            </h1>
            <h2 class="title is-4">一、認知與接受條款</h2>
            <p>「本網站」係依據本服務條款提供服務(以下簡稱「本服務」)。</p>
            <p>當您使用本網站時，即表示您已閱讀、瞭解並同意接受本約定書之所有內容。</p>
            <p>本網站有權於任何時間修改或變更本約定書之內容，建議您隨時注意該等修改或變更。</p>
            <p>您於任何修改或變更後繼續使用本網站，視為您已閱讀、瞭解並同意接受該等修改或變更。</p>
            <p>如果您不同意本約定書的內容，您應立即停止使用本網站。</p>
            <h2 class="title is-4">二、使用者帳號</h2>
            <p>為了能使用本服務，您同意以下事項：</p>
            <ol>
                <li>依本服務註冊表之提示提供您本人正確、最新及完整的資料。</li>
                <li>登入本平台所設定之帳號及密碼，僅限於本人持有或使用，不得轉借、轉售、或以各種形式提供予他人，如因上述情事，致使用者個人資料外洩、遺失、或權益受損者，概由該使用者自行負責。</li>
                <li>維持並更新您個人資料，確保其為正確、最新及完整。</li>
                <li>不論您是否註冊成使用者，您同意完全遵守本同意書任何規範條款。</li>
            </ol>
            <h2 class="title is-4">三、智慧財產權的保護</h2>
            <p>本網站所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本網站或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。</p>
            <p>任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。</p>
            <p>若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得本網站或其他權利人的事前書面同意。</p>
            <p>任何意圖侵犯本網站著作權、破壞、竊取本網站資料者，將停止該使用者使用之權利，如因上述情事，致本網站遭受損失者，應負起相關法律責任，並負損害賠償責任（包括但不限於訴訟費用及律師費用等）</p>
            <h2 class="title is-4">四、系統中斷或故障</h2>
            <p>本服務有時可能會出現中斷或故障等現象，或許將造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他經濟上損失等情形。</p>
            <p>您於使用本服務時宜自行採取防護措施。</p>
            <p>本網站對於您因使用（或無法使用）本服務而造成的損害，不負任何賠償責任。</p>
            <h2 class="title is-4">五、個資聲明</h2>
            <ol>
                <li>本網站承諾將盡力以合理的技術及程序，保護使用者個人的隱私權。對使用者個人資料的收集，謹遵守中華民國「個人資料保護法」之規範。</li>
                <li>使用者進入本網站時，並不需輸入個人資料，只有在使用者申請登錄成為使用者時，必須輸入姓名、出生年月日、教育程度、職業性質、聯絡電話、E-mail等個人資料。</li>
                <li>上述資料搜集是為了提供相關服務活動，本網站保證善盡保密義務，不會將個人資料予以販賣或流通，並嚴禁內部不當的使用。</li>
                <li>為因應社會、法規、科技的變化，本網站對本聲明有權修改之。</li>
            </ol>
            <h2 class="title is-4">六、資訊或建議</h2>
            <p>本網站對於您使用本服務或經由本網站連結之其他網站而取得之資訊或建議，不擔保其正確性、及時性或完整性。</p>
            <p>本網站對於本服務所提供之資訊或建議有權隨時修改或刪除。</p>
            <p>您在做出任何相關規劃與決定之前，仍應請教專業人員針對您的情況提出意見，以符合您的個別需求。</p>
            <p>本網站會與其他第三人（「內容提供者」）合作，由其提供包括新聞、訊息、電子報等不同內容供本網站刊登，本網站於刊登時均將註明內容提供者。</p>
            <p>基於尊重內容提供者之智慧財產權，本網站對其所提供之內容並不做實質之審查或修改，對該等內容之正確真偽亦不負任何責任。</p>
            <p>對該等內容之正確真偽，您宜自行判斷之。</p>
            <p>您若認為某些內容涉及侵權或有所不實，請逕向該內容提供者反應意見。</p>
        </div>
    </div>
    <a href="https://ucan.moe.edu.tw/Account/Consent_form2.aspx" target="_blank" id="view-source" class="button is-success is-rounded">查看原文</a>
</section>