@{
    ViewData["Title"] = "認識 UCAN";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/affix.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/css/affix.min.css" asp-append-version="true" />
    </environment>
}

<section class="section">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Intro" asp-action="Index">認識 UCAN</a></li>
                <li class="is-active"><a asp-area="" asp-controller="Intro" asp-action="Foundation" aria-current="page">平台緣起及建置目的</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">平台緣起及建置目的</h1>
            <p>為有效協助學生瞭解自己的職涯發展方向，能更有目標、動機的加強其職場就業相關職能，教育部推出「大專校院就業職能平台」(University Career and Competency Assessment Network,簡稱UCAN)，結合職業興趣探索及職能診斷，以貼近產業需求的職能為依據，增加學生對職場的瞭解，並透過職能自我評估，規劃自我能力養成計畫，針對能力缺口進行學習，以具備正確的職場職能，提高個人職場競爭力。</p>
            <figure class="image">
                <img src="~/images/intent.webp" alt="" class="image-modal" data-target="#intent" asp-append-version="true" />
            </figure>
            <div id="intent" class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <p class="image">
                        <img src="~/images/intent.webp" alt="" asp-append-version="true" />
                    </p>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
            <ul>
                <li>貼近產業需求的職能為依據，增加學生對職場趨勢、職能的暸解。</li>
                <li>協助學生配合職涯規劃，提早瞭解自我職能缺口，規劃能力養成計畫。</li>
                <li>降低學用落差所造成之就職不易、或因職涯方向未定導致轉職率高等問題。</li>
                <li>協助尚未確認職涯方向者探索職業興趣，進而規劃個人職涯發展。</li>
                <li>透過諮詢服務機制及網絡建立，協助學校強化對學生就業輔導之效能。</li>
            </ul>
        </div>
    </div>
    <a href="https://ucan.moe.edu.tw/help/about_us.aspx" target="_blank" id="view-source" class="button is-success is-rounded">查看原文</a>
</section>

@section Scripts {
    <environment include="Development">
        <script src="~/js/image-modal.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/image-modal.min.js" asp-append-version="true"></script>
    </environment>
}