@{
    ViewData["Title"] = "認識 UCAN";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/affix.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/css/affix.min.css" asp-append-version="true" />
    </environment>
}

<section class="section">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Intro" asp-action="Index">認識 UCAN</a></li>
                <li><a asp-area="" asp-controller="Professional" asp-action="Index">專業職能查詢</a></li>
                <li class="is-active"><a asp-area="" asp-controller="Professional" asp-action="Natural" aria-current="page">天然資源、食品與農業</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">天然資源、食品與農業</h1>
            <hr />
            <h2 class="title is-5">職涯類別簡介</h2>
            <h3 class="subtitle is-6 has-text-grey">Introduction for Career cluster</h3>
            <p>凡在農、林、漁、牧業從事生產及作業之規劃、指導及協調，針對農、林、畜、水產品原料進行調理後冷凍、製罐、脫水、醃燻製保藏加工及產銷配送之用等工作；以及從事生物學理在動植物方面的應用發展研究，並進行保護、改善與利用自然生態環境資源之工作，以確保人類生存環境，使自然資源能永續不斷，提高經濟或社會利益。</p>
            <h2 class="title is-5">就業途徑</h2>
            <h3 class="subtitle is-6 has-text-grey">Career Pathway</h3>
            <p>這個職涯類型，在就業的選擇上，可分為以下幾個就業途徑，你可以依照自己的背景及興趣選擇瀏覽，更進一步了解不同就業方向的相關資訊。</p>
            <hr />
            <div class="buttons is-centered">
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=AGC&f2=3" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>食品生產與加工</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=AGC&f2=4" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>植物研究發展與應用</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=AGC&f2=5" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>動物研究發展與應用</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=AGC&f2=6" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>自然資源保育</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=AGC&f2=7" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>環境保護與衛生</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=AGC&f2=8" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>農業經營</span>
                </a>
            </div>
        </div>
    </div>
    <a href="https://ucan.moe.edu.tw/search/search.aspx" target="_blank" id="view-source" class="button is-success is-rounded">查看原文</a>
</section>