@{
    ViewData["Title"] = "認識 UCAN";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/affix.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/css/affix.min.css" asp-append-version="true" />
    </environment>
}

<section class="section">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Intro" asp-action="Index">認識 UCAN</a></li>
                <li><a asp-area="" asp-controller="Professional" asp-action="Index">專業職能查詢</a></li>
                <li class="is-active"><a asp-area="" asp-controller="Professional" asp-action="TransportationAndStorage" aria-current="page">物流運輸</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">物流運輸</h1>
            <hr />
            <h2 class="title is-5">職涯類別簡介</h2>
            <h3 class="subtitle is-6 has-text-grey">Introduction for Career cluster</h3>
            <p>將物料或產品從生產處移轉到消費者或使用者的流程管理，包含規劃、執行與管制各項採購、進貨、儲存控制、檢驗、搬運、配銷、運輸（利用公路、航空、鐵路、及水路，對於人、材料及產品的運送做適度的規劃和調控），並從事相關設備的維修工作。</p>
            <h2 class="title is-5">就業途徑</h2>
            <h3 class="subtitle is-6 has-text-grey">Career Pathway</h3>
            <p>這個職涯類型，在就業的選擇上，可分為以下幾個就業途徑，你可以依照自己的背景及興趣選擇瀏覽，更進一步了解不同就業方向的相關資訊。</p>
            <hr />
            <div class="buttons is-centered">
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=TRC&f2=69" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>運輸作業</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=TRC&f2=70" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>物流規劃及管理</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=TRC&f2=71" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>運輸工程</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=TRC&f2=72" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>運輸規劃及管理</span>
                </a>
            </div>
        </div>
    </div>
    <a href="https://ucan.moe.edu.tw/search/search.aspx" target="_blank" id="view-source" class="button is-success is-rounded">查看原文</a>
</section>