@{
    ViewData["Title"] = "認識 UCAN";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/affix.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/css/affix.min.css" asp-append-version="true" />
    </environment>
}

<section class="section">
    <div class="container is-max-desktop">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Intro" asp-action="Index">認識 UCAN</a></li>
                <li><a asp-area="" asp-controller="Professional" asp-action="Index">專業職能查詢</a></li>
                <li class="is-active"><a asp-area="" asp-controller="Professional" asp-action="WholesaleAndRetailTrade" aria-current="page">行銷與銷售</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="title is-3">行銷與銷售</h1>
            <hr />
            <h2 class="title is-5">職涯類別簡介</h2>
            <h3 class="subtitle is-6 has-text-grey">Introduction for Career cluster</h3>
            <p>企業或組織內從事行銷業務或行銷活動之規劃、執行、組織、協調、指導、管制及考核，以及針對從生產者到消費者的訊息分析進行整合，以達到組織目標。</p>
            <h2 class="title is-5">就業途徑</h2>
            <h3 class="subtitle is-6 has-text-grey">Career Pathway</h3>
            <p>這個職涯類型，在就業的選擇上，可分為以下幾個就業途徑，你可以依照自己的背景及興趣選擇瀏覽，更進一步了解不同就業方向的相關資訊。</p>
            <hr />
            <div class="buttons is-centered">
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=MKC&f2=56" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>行銷管理</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=MKC&f2=57" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>專業銷售</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=MKC&f2=58" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>行銷傳播</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=MKC&f2=59" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>市場分析研究</span>
                </a>
                <a href="https://ucan.moe.edu.tw/search/search_1.aspx?f1=MKC&f2=60" target="_blank" class="button is-link is-outlined is-rounded is-underlined">
                    <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                    <span>零售與通路管理</span>
                </a>
            </div>
        </div>
    </div>
    <a href="https://ucan.moe.edu.tw/search/search.aspx" target="_blank" id="view-source" class="button is-success is-rounded">查看原文</a>
</section>